{% extends 'ChakoshHomeBundle:Admin:base.html.twig' %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        function aButtonPressed(){
            $.post('{{path('upload')}}',
                        //{data1: 'mydata1', data2:'mydata2'}, 
                    function(response){
                            if(response.code == 100 && response.success){//dummy check
                              ("#mess").html('Fuck You');
                            }

            }, "json");    
        }

        $(document).ready(function() {     
          $('#startUploading').on('click', function(){aButtonPressed();});
        });
    });
</script>
{% endblock %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/one_block.css') }}" />
{% endblock %}
{% block content %}
<div id="mess"></div>
<form action="#" method="post" multiple="multiple" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <button type="submit" id="startUploading" class="btn btn-primary">Upload</button>
</form>
{% endblock %}