{% trans_default_domain 'FOSUserBundle' %}
{% block style %}
  <link href="{{ asset('css/change-password.css') }}" rel="stylesheet">
{% endblock %}

{% import "FOSUserBundle::errors.html.twig" as e %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-change-password fos_user_change_password">
	<h2 class="form-signin-resetting" style="text-align:center;">تغییر گذر واژه</h2>
    {{ form_widget(form.current_password, { 'attr': {'class':'form-control','dir':'auto','placeholder':'گذرواژه فعلی'} }) }}
	{{ e.mess(form_errors(form.current_password),'warning') }}

    {{ form_widget(form.plainPassword.first, { 'attr': {'class':'form-control','dir':'auto','placeholder':'گذرواژه جدید'} }) }}
	{{ e.mess(form_errors(form.plainPassword.first),'warning') }}

    {{ form_widget(form.plainPassword.second, { 'attr': {'class':'form-control','dir':'auto','placeholder':'تکرار گذرواژه جدید'} }) }}
    {{ e.mess(form_errors(form.plainPassword.second),'warning') }} 

	<button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'change_password.submit'|trans }}</button>
</form>
