{% extends 'ChakoshHomeBundle:Admin:base.html.twig' %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/magnific-popup.css') }}" />
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>    
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#chakosh_blogbundle_booktype_file").click(function(){
                $(this).toggleClass('active');
            })
            $("#chakosh_blogbundle_booktype_cover").click(function(){
                $(this).toggleClass('active');
            })
            $("#ava_files tr td button").click(function(){
                value = $(this).attr('data-name');
                if($("#chakosh_blogbundle_booktype_file").hasClass('active'))
                    {
                    $("#chakosh_blogbundle_booktype_file").val(value);
                    $("#chakosh_blogbundle_booktype_file").toggleClass('active');
                    }
                if($("#chakosh_blogbundle_booktype_cover").hasClass('active'))
                    {
                    $("#chakosh_blogbundle_booktype_cover").val(value);
                    $("#chakosh_blogbundle_booktype_cover").toggleClass('active');
                    }
                $('#myModal').modal('hide')
            })
            $('.image-popup-vertical-fit').magnificPopup({
                    type: 'image',
                    closeOnContentClick: true,
                    mainClass: 'mfp-img-mobile',
                    image: {
                            verticalFit: true
                    }

            });

            $('.image-popup-fit-width').magnificPopup({
                    type: 'image',
                    closeOnContentClick: true,
                    image: {
                            verticalFit: false
                    }
            });

            $('.image-popup-no-margins').magnificPopup({
                    type: 'image',
                    closeOnContentClick: true,
                    closeBtnInside: false,
                    fixedContentPos: true,
                    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                    image: {
                            verticalFit: true
                    },
                    zoom: {
                            enabled: true,
                            duration: 300 // don't foget to change the duration also in CSS
                    }
            });
            
        });
    </script>
{% endblock %}
{% block content %}
<form action="{{ path('admin_update', { 'id': book.id }) }}" method="post" class="form-inline" {{ form_enctype(form) }}>
    <header>
        <div class="form-group">
              {{ form_widget(form.name,{attr:{'placeholder':'نام کتاب','class':'form-control'}}) }}
        </div>
        <div class="form-group">
              {{ form_widget(form.author,{attr:{'placeholder':'نام نویسنده','class':'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">به روز رسانی</button>        


    </header>
      <figure id="single" class="single">
        <img src="{{ asset('images/cover.png') }}" />
        {{ form_widget(form.cover,{attr:{'href':'#myModal','data-toggle':'modal','placeholder':'کاور','class':'form-control'}}) }}
        <div id="download">
            {{ form_widget(form.file,{attr:{'href':'#myModal','data-toggle':'modal','placeholder':'فایل','class':'form-control'}}) }}
        </div>
      </figure>
    <footer id="single-footer">
        {{ form_widget(form.content,{attr:{'class':'ckeditor','id':'editor1'}}) }}
        {{ form_rest(form) }}	
    </footer>
</form>
        <form action="{{ path('admin_delete', { 'id': book.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> پاک کردن</button>
        </form>
  <!-- Modal -->
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">کتاب خانه</h4>
        </div>
          <table class="table table-striped" id="ava_files">
            {% for file in files %}
                {% set f = file|split(".") %}
                <tr>
                    <td>
                        <a class="image-popup-no-margins" id="admin_new_image_a" href="{{ ['../../uploads/',file ] | join() }}">                        
                            <img id="admin_new_image" src="{{ ['uploads/',file ] | join() | imagine_filter('small') }}" data-href="{{ ['uploads/',file ] | join() }}" />
                            <div id="admin_new_image_caption"><span class="glyphicon glyphicon-zoom-in"></span></div>
                        </a>
                        <table>
                            <tr>
                                <td>
                                    <span>{{ f[0] }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{{ f[1] }}</span>
                                </td>
                            </tr>
                        </table>
                        <button data-name="{{ file }}" class="btn btn-success">انتخاب</button>
                    </td>
                </tr>
            {% else %}
                <p>هنوز فایلی آپلود نشده</p>
            {% endfor %}
        </table>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
