{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Options</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Optionname</th>
                <td>{{ entity.optionName }}</td>
            </tr>
            <tr>
                <th>Optionvalue</th>
                <td>{{ entity.optionValue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_setting_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_setting__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
