<!doctype HTML>
<head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/favico.png') }}">
    <!-- complete meta tags -->
    {% endblock %}   
    <!-- complete meta tags -->
    <!--[if lt IE 9]>
        <script src="{{ asset('js/html5.js') }}"></script>
    <![endif]-->        
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.jscrollpane.css') }}" />        
        <link rel="stylesheet" type="text/css" href="{{ asset('css/blog.css') }}" />            
    {% endblock %}
    {% block js %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/modernizr.js') }}"></script>
    {% endblock %}
    <title>{% block title %}chakosh{% endblock %}</title>  
</head>

{%block content%}
{% include 'ChakoshHomeBundle:Base:navbar.html.twig' %}
<section id="blog">
    {%for post in post%}
    <article>
        <header>{{ post.title }}{{ post.date|time_ago_in_words }}</header>
        <figure>{% if post.excerpt is defined %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}</figure>
    </article>
    {%endfor%}
</section>
{%endblock%}