{% if entities is defined %}
    <header>نتایج جستجو برای: {{query}}</header>
    {% for book in entities %}
    <article id="book">
            <figure>
                {% set cover = book.cover|split('/')|last %}            
                {# {{ [ asset('uploads/cover/'),{% block book_cover %}{% endblock %} ] | join() }} #}
                <img src="{{ [ 'uploads/',cover ] | join() | imagine_filter('my_thumb',true) }}" />
            </figure>
            <figcaption>            
                <div id="comments_num" title="{% if book.commentNum %}{{ book.commentNum }} دیدگاه{% else %}بدون دیدگاه{% endif %}"><h3>{{ book.commentNum }}</h3></div>
                <a href="{{ path('_show', {'id': book.link}) }}"><h1>{{ book.name }}</h1></a>
                <h3>{{ book.author }}</h3>
                <a href="{{ [ 'uploads/',book.file ] | join() }}"><button type="button" class="btn btn-info">دریافت</button></a>
            </figcaption>
    </article>    
    {% endfor %}
    <div id="clr"></div>
    {{ knp_pagination_render(entities) }}
{% else %}
    {% include 'ChakoshHomeBundle:Home:noresult_content.html.twig' %}
{% endif %}

